node-red/data/flows.json
[{"id":"94952b4d.e3685","type":"tab","label":"MongoDB API","disabled":false,"info":""},{"id":"79dda6c1.cfe6a8","type":"tab","label":"RabbitMQ ","disabled":false,"info":""},{"id":"39adf9d0.a8c876","type":"mongodb","hostname":"mongo","topology":"direct","connectOptions":"","port":"27017","db":"qu4lity","name":""},{"id":"6a82b9a.1bcf048","type":"amqp-server","host":"rabbitmq","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":true,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"UserExchange\", \"type\": \"direct\", \"options\": {\"durable\": false}}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"UserQueue\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"UserExchange\", \"queue\": \"UserQueue\", \"pattern\": \"user\", \"args\": {}}\n\t]\n}","prefetch":false,"prefetchvalue":"1","prefetchack":false,"prefetchvalueack":"1"},{"id":"d5b5d82.d1c8ca8","type":"http in","z":"94952b4d.e3685","name":"HTTP endpoint","url":"/get/:collection","method":"get","upload":false,"swaggerDoc":"","x":220,"y":280,"wires":[["88a23185.8eebc"]]},{"id":"f5600eb9.a9c4b","type":"http response","z":"94952b4d.e3685","name":"Response with the collection","statusCode":"","headers":{},"x":1100,"y":280,"wires":[]},{"id":"2956ee62.7d617a","type":"mongodb in","z":"94952b4d.e3685","mongodb":"39adf9d0.a8c876","name":"Finds all the documents","collection":"","operation":"find","x":810,"y":280,"wires":[["f5600eb9.a9c4b"]]},{"id":"88a23185.8eebc","type":"change","z":"94952b4d.e3685","name":"Set the collection of the request","rules":[{"t":"set","p":"collection","pt":"msg","to":"req.params.collection","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":280,"wires":[["2956ee62.7d617a"]]},{"id":"5146e668.0bffb","type":"comment","z":"94952b4d.e3685","name":"To obtain all the documents of a collection, a GET request is made to /get/:collection. Being collection a path param with the name of the collection","info":"","x":620,"y":200,"wires":[]},{"id":"f878ddbe.ab69d","type":"inject","z":"79dda6c1.cfe6a8","name":"Defines de routing key","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"user","x":270,"y":200,"wires":[["c12d569d.be1cd8"]]},{"id":"c12d569d.be1cd8","type":"function","z":"79dda6c1.cfe6a8","name":"Defines the message","func":"var user = {\n    \"id\": 1,\n    \"username\": \"admin\",\n    \"age\": 21\n}\n\nmsg.payload = JSON.stringify(user);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":200,"wires":[["84dac78c.e904"]]},{"id":"9a910c80.fb6e68","type":"debug","z":"79dda6c1.cfe6a8","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":440,"wires":[]},{"id":"976288ff.d430b","type":"mongodb out","z":"79dda6c1.cfe6a8","mongodb":"39adf9d0.a8c876","name":"Saves the message in MongoDB","collection":"UserCollection","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":1060,"y":360,"wires":[]},{"id":"bf537637.f6c0b8","type":"json","z":"79dda6c1.cfe6a8","name":"Parses the object from JSON String","property":"payload","action":"obj","pretty":false,"x":700,"y":360,"wires":[["976288ff.d430b"]]},{"id":"ab24f2ea.d1e","type":"comment","z":"79dda6c1.cfe6a8","name":"Publish","info":"","x":200,"y":140,"wires":[]},{"id":"4f9c8478.9d18e4","type":"comment","z":"79dda6c1.cfe6a8","name":"Suscribe","info":"","x":220,"y":300,"wires":[]},{"id":"edd2904d.9d1ad8","type":"amqp in","z":"79dda6c1.cfe6a8","name":"Consumes the message from the queue","topic":"","iotype":"4","ioname":"UserQueue","server":"6a82b9a.1bcf048","x":300,"y":360,"wires":[["9a910c80.fb6e68","bf537637.f6c0b8"]]},{"id":"84dac78c.e904","type":"amqp out","z":"79dda6c1.cfe6a8","name":"Publishes the message to the exchange","routingkey":"","iotype":"0","ioname":"UserExchange","server":"6a82b9a.1bcf048","x":880,"y":200,"wires":[]}]